html, body {
    color: #000;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size:16px;
}

a
{
    text-decoration: underline;
    text-decoration-style: dotted;
    color:black;
}

h2,h3,h4
{
    font-weight: normal;
    font-size:16px;
}

#contentContainer
{
    width:550px;
    margin:15px auto 50px auto;
}

#headerWrapper
{
    text-align:left;
    margin-top:15px;
}

.sectionTitle
{
    border-bottom: 1px solid black;
    padding-bottom:15px;
    margin-top:40px;
}

@media only screen and (max-width: 650px)
{
    #contentContainer
    {
        width:90%;
    }
}